<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <title>Form</title>
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet">
  </head>    
  <body>
    <div class="topnav">
      <a th:href="@{/}">Form</a>
      <a th:href="@{/songs}">Songs</a>
    </div>   
    <div class="container">
      <h2> Web Radio Station </h2>
      <form method="post" th:object="${song}" th:action="@{/handleSubmit}">
        <p th:errors="*{artist}"></p>
        <input type="text" placeholder="Artist" th:field="*{artist}">
        <p th:errors="*{title}"></p>
        <input type="text" placeholder="Title" th:field="*{title}">
        <p th:errors="*{weights}"></p>
        <input type="text" placeholder="Weights" th:field="*{weights}">
        <input type="hidden"  th:field="*{id}">

        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
</html>